doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css")
    link(rel='stylesheet', type='text/css', href='/stylesheets/animate.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/common/common.css')
    script(src="/socket.io/socket.io.js" type='text/javascript')
    script(src='/javascripts/jquery.min.js' type='text/javascripdt')
    script(src='/javascripts/jquery.nanoscroller.min.js' type='text/javascript')
    script(src='/javascripts/common/common.js' type='text/javascript')
    block head-more
  body.preload
    block content
