extends ../parent/layout

mixin center
    div.center-outer
        div.center-inner
            if block
                block

block head-more
    link(rel='stylesheet', type='text/css', href='/stylesheets/page/index.css')
    script(src='/javascripts/page/index.js')

block content
    div#html-wrap
        div#left-menu.menu(style='display:none;')
            div#player-bar
                div#player-image
                div#player-log
                    span#win-number 74
                    span.red W&nbsp;
                    span#lose-number 69
                    span.blue L&nbsp;
                    span#win-percent 80%
                div#player-name Loading...
            div#friend-list-wrap(style='display:none;')
                div#friend-list-background
                div#search-bar
                div#friend-scroll-wrap
                    div#friend-list.nano
                        div.nano-content
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    div.btn.battle-friend
                                    div.btn.add-friend
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                            div.friend
                                div.friend-icon
                                div.friend-info
                                    div.friend-name
                                        span 내가본건블루스크린
                                    div.friend-log
                                        span.f-win-number 74
                                        span.red W&nbsp;
                                        span.f-lose-number 69
                                        span.blue L&nbsp;
                                        span.f-win-percent 80%
                                div.friend-btns
                                    img.btn(src='/images/index/vs_icon.png')
                                    img.btn(src='/images/index/refusal_icon.png')
                div#friend-bottom
                    span#friend-bottom-desc 현재 받은 친구요청
                    span#friend-bottom-num.red 1
            img#friend-icon.btn(src="/images/index/friend_icon.png")


        div#right-menu.menu(style='display:none;')
            div#money-bar
                span 10000 pearl
            div#button-list
                img#shop-icon.btn(src="/images/index/shop_icon.png")
                img#rank-icon.btn(src="/images/index/rank_icon.png")
                img#logout-icon.btn(src="/images/index/undo_button.png")

        div#content-wrap(style='display:none;')
            +center
                div#jinjoo
                    +center
                        span
                div#matching-bar.btn
                    span 서버 접속 중
                div#matching-percent-string
                    span 현재 대기열&nbsp;
                    span#percent 비어 있음
                    span ...
                div#space
